<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ENVIRONMENT</key>
	<string>https://receipts.getsensibill.com</string>
	<key>CERTIFICATE_PINNING_FILES</key>
	<array>
		<string>COMODO.cer</string>
		<string>GLOBALSIGN.cer</string>
	</array>
</dict>
</plist>
